[submodule "lib/lopack"]
	path = lib/lopack
	url = https://github.com/danomatika/lopack.git
[submodule "lib/tinyobject"]
	path = lib/tinyobject
	url = https://github.com/danomatika/tinyobject.git
[submodule "lib/cpphelpers"]
	path = lib/cpphelpers
	url = https://github.com/danomatika/cpphelpers.git
