# binaries
src/joyosc/joyosc
src/lsjs/lsjs

# autotools files
autom4te.cache
INSTALL
Makefile
Makefile.in
aclocal.m4
configure
config
config.log
config.status
libtool
src/config.h
src/stamp-h1
.dirstamp
dist
m4

# build
*.o
*.a

# libtool
.deps
.libs
libtool
*.lo
*.la

# premake
prj/obj

# distribution tarballs
joyosc-*

# OSX
.DS_Store
*xcuserdata
*.xcworkspace

# temp files
*~
