#
#	unit daemon udev rules
#
#	Put me in "/etc/udev/rules.d", I am named based on the debian udev rules format
#
#	launches unit-notifier to send dbus notification of device insert/removal to unitd
#	- unitd is the device handling daemon the reads events for open devices
#	- unit-notifer tells unitd to open or close a device by kernel name
#
#	"add" actions are device insertions and device attributes are used to match the device
#
#	"remove" actions are matched using ENV variables since the SYSFS node for the device is gone
#	and thus the attributes have been deleted
#
#	rules built using:
#	- udevinfo -a -p $(udevinfo -q path -n /dev/*device*) : attributes
#	- sudo udevmonitor --env /dev/*device* : events and env vars
#
#	Documentation is your friend: http://reactivated.net/writing_udev_rules.html
#
################################################################################################


#	joystick devices
#
KERNEL=="js[0-9]*", ACTION=="add", SUBSYSTEM=="input", RUN="/home/dano/src/unit/bin/unit-notifier -a start %k"

KERNEL=="js[0-9]*", ACTION=="remove", SUBSYSTEM=="input", RUN="/home/dano/src/unit/bin/unit-notifier -a stop %k"


#	USB tty serial devices
#
KERNEL=="ttyUSB[0-9]*", ACTION=="add", SUBSYSTEMS=="tty", RUN="/home/dano/src/unit/bin/unit-notifier -a start -t tty %k"

KERNEL=="ttyUSB[0-9]*", ACTION=="remove", SUBSYSTEMS=="tty", RUN="/home/dano/src/unit/bin/unit-notifier -a stop -t tty %k"


#	Video 4 Linux devices aka webcams, etc
#
#KERNEL=="video[0-0]*", ACTION=="add", SUBSYTEM=="video4linux", RUN="/home/dano/src/unit/bin/unit-notifier -a start -t v4l %k"

#KERNEL=="video[0-9]*", ACTION=="remove", SUBSYSTEM=="video4linux",  RUN="/home/dano/src/unit/bin/unit-notifier -a start -t v4l %k"

